/* adding some styles here that override sdpi things so we can use this as notes for sdpi updates*/
select {
	min-width: 0px;

	/* this is a clunky fix for using background image as select arrow with long text options */
	-webkit-appearance: media-slider;
	text-overflow: ellipsis;
}